@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: "Poppins", sans-serif;
}

/*- general styles */

html, body {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;

    display: grid;
}

a {
    text-decoration: none;
    color: #fff;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

h1, h2, h3, h4 {
    color: #fff;
    margin: 0;
}

p {
    color: #fff;
}

.container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;

    height: 50px;
    width: 150px;

    background: orange;
    border-radius: 5px;

    font-weight: 600;
    font-size: 18px;

    transition: background-color 0.5s;
}

.btn:hover {
    background-color: #aaa;
}

/*- header */

.header {
    padding: 30px 20px;
    background-color: #111;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    color: transparent;
    background: linear-gradient(to right, #f83600, #fe8c00);
    background-clip: text;
    font-size: 32px;
    font-weight: 900;

    transition: font-size 0.5s;
}

.header__logo:hover {
    font-size: 2.05em;
}

.header__logo:visited {
    color: none;
}

.header__links {
    align-items: center;
    display: flex;
    gap: 30px;
}

.header__navbar {
    display: flex;
    gap: 30px;
}

.header__navbar a.visited {
    opacity: 1;
    transition: opacity 0.5s;
}

.header__navbar a.visited:hover {
    opacity: 0.8;
}

.header__navbar a {
    opacity: 0.7;
    transition: opacity 0.5s;

    line-height: 0;
}

.header__navbar a:hover {
    opacity: 1;
}

.header__navbar .btn {
    width: 100px;
    font-weight: 500;
}

/*- introduction */

.introduction .container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: auto;

    padding: 60px 0;
}

.introduction__subtitle {
    color: #111;
    margin: 30px 0px 0px 0px;
}

.introduction__title {
    color: #111;
    margin: 0;

    font-size: 36px;
}

.introduction__text {
    color: #aaa;
}

.introduction__banner {
    max-width: 800px;
    max-height: 300px;

    height: auto;
    width: auto;
    
    margin-left: 50px;
    border-radius: 5px;
}

/*- footer */

.footer {
    background-color: #202020;
}

.footer h2 {
    color: #CCCCCC;
    opacity: 25%;
    font-size: 15px;
}

.footer .footer-container {
    margin: auto auto;
    width: 90%;
    padding-top: 30px;
    padding-bottom: 30px;
}

.footer-links-wrapper {
    padding-top: 20px;
    padding-bottom: 30px;
    float: left;
    display: flex;
    align-items: first baseline;
    gap: 40px;
}
.footer__contacts {
    display: grid;
    margin: 30px 0;

    gap: 5px;
}

.footer__contacts a {
    opacity: 80%;

    transition: color 0.5s;
}

.footer__contacts a:hover {
    color: #b5721b;
}

.footer__info {
    display: grid;

    gap: 5px;
}

.footer__info a {
    opacity: 80%;

    transition: color 0.5s;
}

.footer__about {
    padding-top: 10px;
}

.footer__info a:hover {
    color: #aaa;
}

.info__title {
    padding-bottom: 0;
}

.footer__social-networks {
    align-items: center;
    display: flex;
    gap: 8px;
}

.footer__social-networks a {
    color: #fff;
    opacity: 40%;

    transition: opacity 0.5s;
}

.footer__social-networks a:hover {
    opacity: 70%;
}

.footer .separator {
    width: 100%;
    border: 1px solid #2f2f2f;
}

.footer__copyright {
    font-size: 14px;
}

.footer__copyright p, .footer__copyright a {
    color: #636363;
}

/*- laptop adaptation */

@media (max-width: 900px)
{
    .introduction__banner {
        margin: 0;

        width: 400px;
        height: 250px;
    }
}

/*- tablet adaptation */

@media (max-width: 768px) {
    body {
        display: block;
        background-color: #111;
    }

    .header .container {
        flex-direction: column;
    }

    .header__navbar {
        justify-content: center;
    }

    .header__navbar a {
        font-size: 14px;
    }

    .header .btn {
        width: 80px;
        height: 40px;
        margin: 0;
    }

    .introduction

    .introduction__subtitle {
        font-size: 14px;
    }

    .introduction__title {
        font-size: 30px;
    }

    .introduction__text {
        font-size: 12px;
    }

    .introduction__banner {
        width: 40%;
        height: 40%;
    }

    .introduction .btn {
        height: 35px;
        width: 120px;

        font-size: 14px
    }
}

/*- mobile adaptation */

@media (max-width: 500px) {
    body {
        display: block;
    }

    .header .container {
        flex-direction: column;
        gap: 10px;
    }

    .header__navbar a {
        font-size: 12px;
    }

    .header .btn {
        width: 70px;
        height: 35px;

        margin: 0;
    }

    .introduction .container {
        padding: 40px 0;
        flex-direction: column;
        gap: 15px;

        background: url(images/introduction_banner.jpg);
        background-size: cover;
    }

    .introduction__subtitle {
        color: #fff;

        margin: 0;
        font-size: 12px;
    }

    .introduction__title {
        color: #fff;

        font-size: 24px;
    }

    .introduction__text {
        font-size: 12px;
    }

    .introduction .btn {
        margin: 0 auto;
    }

    .introduction__banner {
        margin: 0;

        width: 80%;
        height: 80%;

        display: none;
    }

    .footer {
        gap: 10px;
        
        width: 100%;

        left: 0;
        top: 0;
    }

    .footer .footer-links-wrapper h2, a {
        text-align: left;
    }

    .footer .footer-links-wrapper h2 {
        font-size: 14px;
    }

    .footer .footer-links-wrapper {
        font-size: 14px;
    }
}

@media (max-width: 320px)
{
    .header {
        padding: 20px 10px;
    }

    .header__logo {
        font-size: 24px;
    }

    .header__navbar {
        display: grid;
        justify-items: center;
        gap: 10px;
    }

    .footer-links-wrapper {
        flex-direction: column;
        gap: 0;
        padding-top: 0;
    }
}