@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: "Poppins", sans-serif;
}

/*- general styles */

body {
    margin: 0;
    padding: 0;
    height: 100vh;
}

a {
    text-decoration: none;
    color: #fff;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

h1, h2, h3, h4 {
    color: #fff;
    margin: 0;
}

.container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;

    height: 50px;
    width: 150px;

    background: orange;
    border-radius: 5px;

    font-weight: 600;
    font-size: 18px;

    transition: background-color 0.5s;
}

.btn:hover {
    background-color: #aaa;
}

/*- header */

.header {
    padding: 30px 20px;
    background-color: #111;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    font-size: 32px;
    font-weight: 900;

    transition: font-size 0.5s;
}

.header__logo:hover {
    font-size: 2.05em;
}

.header__logo:visited {
    color: antiquewhite;
}

.header__links {
    align-items: center;
    display: flex;
    gap: 30px;
}

.header__navbar {
    display: flex;
    gap: 30px;
}

.header__navbar a.visited {
    opacity: 1;
    transition: opacity 0.5s;
}

.header__navbar a.visited:hover {
    opacity: 0.8;
}

.header__navbar a {
    opacity: 0.7;
    transition: opacity 0.5s;

    line-height: 0;
}

.header__navbar a:hover {
    opacity: 1;
}

.header__navbar .btn {
    width: 100px;
    font-weight: 500;
}

/*- introduction */

.introduction .container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: auto;

    padding: 60px 0;
}

.introduction__subtitle {
    color: #111;
    margin: 30px 0px 0px 0px;
}

.introduction__title {
    color: #111;
    margin: 0;

    font-size: 36px;
}

.introduction__text {
    color: #aaa;
}

.introduction__banner {
    max-width: 800px;
    max-height: 300px;

    height: auto;
    width: auto;
    
    margin-left: 50px;
    border-radius: 5px;
}

/*- footer */

.footer {
    background-color: #323232;

    height: calc(100vh - 530px);
}

.footer .container {
    height: 200px;

    display: flex;
    justify-content: space-around;
    align-items: first baseline;
}

.footer h2 {
    color: #aaa;
    padding-bottom: 10px;
}

.footer__contacts {
    display: grid;
    margin: 30px 0;
}

.footer__contacts a {
    padding: 0 0 5px;

    transition: color 0.5s;
}

.footer__contacts a:hover {
    color: #b5721b;
}

.footer__info {
    display: grid;
}

.footer__info a {
    color: #636363;
    padding: 0 0 5px;

    transition: color 0.5s;
}

.footer__info a:hover {
    color: #aaa;
}

.footer__social-networks {
    display: flex;
    gap: 5px;
}